name: NPM Audit Fix Run

on:
  workflow_dispatch:
    inputs:
      force:
        description: "Use --force flag for npm audit fix?"
        required: true
        type: boolean
      base_branch:
        description: "Specify a base branch"
        required: false
        default: "main"
      script:
        description: "Specify the npm/yarn script to run if available"
        required: false
        type: string
        default: "yarn build"
      package_manager:
        description: "Specify package manager if available (npm or yarn or pnpm)"
        required: false
        type: string
        default: "yarn"
  schedule:
    - cron: "0 0 * * 1"

jobs:
  audit-fix:
    uses: step-security/reusable-workflows/.github/workflows/audit_fix.yml@v1
    with:
      force: ${{ inputs.force || false }}
      base_branch: ${{ inputs.base_branch || 'main' }}
      script: ${{ inputs.script || 'yarn build' }}
      package_manager: ${{ inputs.package_manager || 'yarn' }}

permissions:
  contents: write
  pull-requests: write
  packages: read
  issues: write
